<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-2">
    <div class="row">
        <div class="col-md-6 offset-md-3 mb-5 col-xl-8 offset-xl-2">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1414016642750-7fdd78dc33d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FtcGluZyUyMHRlbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title mb-2">Login</h4>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-2">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>

                        <div class="mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success btn-block" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>